#OurVision{
  position: relative;
  margin-top: 7rem;
  height: fit-content;
  padding: 30px 5px;
  padding-bottom: 80px;
  background-color: #000;
}
#OurVision .headrVision h2{
  color: #F4B719;
  text-align: center;
  text-shadow: 0px -2px 4px #F4B719;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2.5rem;
}
#OurVision .bodyVision{
  width: 80%;
  max-width: 640px;
  height: 80%;
  margin-left: auto;  
  margin-right: auto;
  background-color: white;
  border-radius:10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border:10px solid #F4B719;
}
.textVision{
  position: relative;
  padding: 30px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 670px;
}
#OurVision .bodyVision p{
  color: #000;
  margin: 0;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
}
.image{ 
  width: 100%  ;
  max-width: 170px;
}
.image img{
  height: inherit;
  width: inherit;
}
#OurVision .bodyVision .lampImage{
  position: absolute;
  width: 120px;
  bottom: -85px;
  right: -80px;
}
#OurVision .bodyVision .lampImage img{
  width: inherit;
}
/*Start Our Mission*/
#OurMission{
  position: relative;
  height: 600px;
  min-height: 400px;
  margin-top: 15rem;
}
#OurMission .OwnContainer{
  width: 100%;
  height: 100%;
  padding: 0;
}
#OurMission .TextHeaderMission{
  width: 70%;
}
.TextContainer{
  background-color: #000;
  width: 60%;
  margin-left: auto;
  padding: 40px 30px;
  position: relative;
}
.yellowBox{
  position: absolute;
  width: 50%;
  max-width: 300px;
  min-width: 290px;
  height: 120%;
  background-color: #F4B719;
  left: -80px;
  top: -30px;
  z-index: -1;
}
@media (max-width:860px){
  .TextContainer{
    padding: 10px 30px;
  }
}
@media (max-width:860px){
  .TextContainer{
    width: 90%;
  }
}
@media (max-width:460px){
  #OurMission .TextHeaderMission h2 {
    font-size: 30px !important;
  }
  #OurMission .TextBodyMission {
    font-size: 15px !important;
    width: 100% !important;
  }
  #OurTeam .headerCommitteTeam h2{
    font-size: 25px !important;
  }
}
#OurMission .TextHeaderMission h2{
  color: #F4B719;
  text-shadow: 0px -2px 4px #F4B719;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
#OurMission .TextBodyMission{
  color: #FFF;
  font-family: Source Serif Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 90%;
  max-width: 510px;
}
#OurMission .col-lg-12{
  background-color: #000;
}



/*work on website*/
#WorkOnWbsite {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}
#WorkOnWbsite .backgroundWork{
  width: 100%;
    max-width: 830px;
    height: 100%;
    position: relative;
}
#WorkOnWbsite .backgroundWork img{
  width: inherit;
  height: inherit;
}
#WorkOnWbsite .backgroundWork h2{
  color: #000;

  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  top: -250px;
  text-align: center;
  text-transform: capitalize;
}
@media (max-width:700px) {
  #WorkOnWbsite .backgroundWork h2{
    font-size: 30px;
    top: -200px;
  }
}
@media (max-width:540px) {
  #WorkOnWbsite .backgroundWork h2{
    font-size: 25px;
    top: -140px;
  }
}
/*teams member*/
#OurTeam{
  margin-top: 10rem;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}
#OurTeam .row{
  margin-bottom: 8rem;
}
#OurTeam .headerCommitteTeam{
  text-align: center;
}
#OurTeam .headerCommitteTeam h2{
  color: #000;
  text-align: center;
  font-family: Source Serif Pro;
  font-size:40px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px; 
  margin-bottom: 5rem;
}
.cardImage{
  width: 90%;
  max-width: 350px;
  height: 100%;
  max-height: 380px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.cardImage::before{
  content: attr(data-name);
  width: 90%;
  max-width: 335px;
  height: fit-content;
  text-transform: capitalize;
  padding:10px;
  position: absolute;
  bottom: 0px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  background-color: #F4B719;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}
.cardImage img{
  border-radius: 15px;
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: center center;
}
.tra{
  height: 0;
  width: 0;
  border-bottom:20px solid #F4B719;
  border-right:20px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 0px;
  transform: rotateX(207deg);
}
.col-sm-12{
  margin-bottom: 3rem;
}
@media (max-width:770px) {
  .cardImage{
    display: flex;
    justify-content: center;
  }
  .tra{
    bottom: -13px;
    left: 17px;
  }
}
@media (max-width:630px){
  .textVision {
    padding: 20px 0px !important;
  }
  .bodyVision{
    width: 95% !important;
  }
  .textVision {
    width:94% !important;
  }
  .lampImage{
    width: 60px !important;
    bottom: -47px !important;
    right: -7% !important
  }
}
@media (max-width:530px){
  .bodyVision {
    border-width: 5px !important;
  }
}
@media (max-width:420px){
  .tra{
    left: 5%;
  }
}