.committeesSection{

    min-height:600px;
    width: 100%;
}

.CommitteeRect{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    min-height:600px;
    background-image: url("../image/CommitteRectangle.png");
    background-size: contain;
    background-repeat:no-repeat  ;
}
.NonTechContainer{
    background-color: black;
    color: white;
    /* padding: 30px 100px; */
    /* padding: 1000px 0; */
    padding: 40px;
    display: flex;
    justify-content: center;
    border: 5px solid white;
    border-radius: 20px;
    transform: rotate(-5deg);
}
.NonTechContainer h2{
    white-space: nowrap;
}
.NonTechContainer h2 span{
    color: #F4B719;
}


.NonTechCardsSection{
    position: relative;
    top: -100px;
}

.imgContainer{
    border: 8px solid black; 
    border-radius: 50%;
    overflow: hidden;
}

.CardBorder{
    border-left: 2px solid black; 
    border-right:2px solid black ; 
    height: 100px; 
    position: relative; 
    top: -30px;
    z-index: -1;
    max-width: 150px;
}
.CardBtnContainer{
    position: relative;
    top: -30px;
}
.CardBtnContainer button{
    background-image: linear-gradient(to bottom , black , rgba(0, 0, 0, 0.753));
    border-radius: 30px; 
    color: white; 
    padding: 30px 110px;
    font-size: 20px; 
    font-weight: 800;
}
.CardBtnContainer button:hover{
    color: rgb(208, 208, 208);
}
.CommitteeCard {
    margin-bottom: 15rem;
}
@media (max-width:990px) {
    
    .CommitteeCard {
        max-width: 300px;
    }
}

@media (max-width:767px) {
    
    .NonTechContainer {
        padding: 15px;
    }
    
    .NonTechContainer h2{
        font-size: 18px;
    }

    .SpceColo{
        display: none !important;
    }
}
.NonTechContainer h2{
    white-space: nowrap;
    font-weight: 800;
}