*{
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
/*Import Font Family*/
@font-face {
  font-family: Inknut;
  src:url('../assest/font/Inknut_Antiqua/InknutAntiqua-Regular.ttf'),
      url('../assest/font/Inknut_Antiqua/InknutAntiqua-Bold.ttf');
}
@font-face {
  font-family: Inter;
  src:url('../assest/font/Inter/Inter-VariableFont_slntwght.ttf')
}
@font-face {
  font-family: 'Source Serif Pro';
  src: url('../assest/font/Source_Serif_4/static/SourceSerif4-Regular.ttf');
}
/*End Import Font Family*/
:root{
  --OrangeColorSupport:#F5B819;
}
body{
  overflow-x: hidden;
}
.OwnContainer{
  width: 90%;
  margin: 0 auto;
  padding :5px;
}
/*Header Style*/
header{
  /* position: sticky; */
  top: 0;
  z-index: 100;
  transition: all .4s ease-in-out;
  background-color: #000;
  background: #262626;
  padding: 5px 0;
}
a{
  text-decoration: none;
}
header .OwnContainer .row .containerLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
header .OwnContainer .row .containerLogo .imageLogo{
  height: 50px;
  width: 50px;
}
header .OwnContainer .row .containerLogo .imageLogo img{
  width: inherit;
  height: inherit;
}
header .OwnContainer .row .containerLogo .textLogo h2{
  padding-left: 10px;
  color: var(--OrangeColorSupport);
  text-align: center;
  font-family: Inknut;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  user-select: none;
}
header .OwnContainer .row .containerLogo .textLogo h2 span{
  display: inline-block;
  transform: rotateY(180deg);
  transform-origin: center;

}
header .OwnContainer .row .links{
  height: 100%;
}
header .OwnContainer .row .links ul{
  margin: 0 !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90%;
}
header .OwnContainer .row .links ul li {
  margin-right: 10px;
  padding:5px 20px
}
header .OwnContainer .row .links a{
  color: rgba(255, 255, 255, 0.70);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
header .OwnContainer .row .links .ActivePage{
  color:#F5B819;
  border-bottom: 3px solid #F5B819;
  padding-bottom:5px;
}
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.login button{
  color: #000;
  width: max-content;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap;
  padding: 7px 40px;
  text-transform: capitalize;
  }
/*End Of Header Section */
/*footer start*/
footer{
  width: 100%;
  background-color: #000;
  margin-top: 80px;
  padding: 50px 30px;
  color: white;
  padding-bottom: 0;
}
footer .headerContact{
  position: relative;
}
footer .headerContact h2{
  color: #FFF;
  font-family: Inter;
  font-size: 26px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
footer .headerContact h2:after{
  content: '';
  width: 25%;
  height: 2px;
  background-color: #FFF;
  position: absolute;
  left: 0;
  top:-9px;
}
footer .cardFooter{
  padding:20px;
  background-color: #F5B819;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 85%;
  width: 90%;
}
footer .cardFooter p{
  width: 80%;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
footer form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
form label{
  margin-bottom: 3px;
}
form textarea{
  border-radius: 4px !important;
  border: 1px solid #FFF !important;
  background: #303030 !important;
  margin-bottom: 8px;
}
form .buttonSubmit {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
form .buttonSubmit button{
  margin-top: 10px;
  border-radius: 5px;
  background: #F5B819;
  padding: 7px 35px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: #000;
  text-transform: uppercase;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px
}
.containerLinks{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}
.links{
  display: flex;
  justify-content: flex-start;
}
.links i{
  font-size: 35px;
  border:15px;
  margin-right: 10px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.links i:hover{
  transform: scale(1.1);
}



/* -------------------------- */
::-webkit-scrollbar {
  width:7px;
  background-color: #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background-color: #F5B819;
}


::-moz-scrollbar {
  width:7px;
  background-color: #F5B819;
}

::-moz-scrollbar-track {
  border-radius: 10px;
}

::-moz-scrollbar-thumb {
  /* border-radius: 10px; */
  background-color: #F5B819;
}

::-ms-scrollbar {
  width:7px;
  background-color: white;
}

::-ms-scrollbar-track {
  border-radius: 10px;
}

::-ms-scrollbar-thumb {
  /* border-radius: 10px; */
  background-color: #F5B819;
}